<aside id="bottomCartBar" class="bottom-cart-bar" hidden>
  <div class="bottom-cart-bar__summary">
    <span class="bottom-cart-bar__count" id="bottomCartCount">0 items</span>
    <strong class="bottom-cart-bar__total" id="bottomCartTotal">R0.00</strong>
  </div>
  <div class="bottom-cart-bar__actions">
    <button class="button button--ghost" id="bottomHistoryButton" type="button">History</button>
    <button class="button button--accent" id="bottomCartButton" type="button">Open Cart</button>
  </div>
</aside>
