# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts.bak

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Secrets / Firebase
google-services.json
GoogleService-Info.plist

# Metro
.metro-health-check*

# Misc
*.log
.DS_Store
